@import url(global.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
}

header{
    margin: 18px 0 0 45px;
}

/* Logo */
#mo{
    color: var(--yellow);
}
#ma{
    color: var(--green);
}
#logo{
    font-size: 2em;
    font-weight: bold;
    float: left;
}

/* Profile Icon */
#profile-icon{
    float: right;
    margin-right: 45px;
    color: var(--darker-yellow);
    font-size: 2em;
}