@import url(global.css);

/* Reviews */
h1{
    margin: 0 auto;
    width: 1195px;
    text-decoration: underline;
    margin-bottom: 40px;
    font-size: 1.9em;
    font-weight: 400;
    color: #2a2222;
}

/* <--User Review Card--> */
.user-div{
    margin: 0 auto;
    width: 1200px;
    height: 140px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin-bottom: 60px;
    position: relative;
}

/* User profile picture */
.user-profile{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px solid var(--yellow);
}
.pic-name{
    display: flex;
    flex-direction: column;
    float: left;
    padding: 15px 10px 15px 20px;
}

/* Username */
.username{
    font-size: 1.1em;
    color:#443b3b;
    text-align: center;
    padding-top: 7px;
}

/* Text review */
.user-div p{
    font-size: 1.2em;
    padding: 20px 15px 0 10px;
    max-height: 75%;
    width: 78%;
    color:#2a2222;
    overflow-y:auto;
    text-align: justify;
    line-height: 1.2em;
}

/* Icons */
.icons{
    float: right;
    padding-right: 15px;
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -22px;
}
.check{
    color: var(--green);
    padding-right: 20px;
}
.cross{
    color: #e93333;
}

/* Media query */
@media only screen and (max-width: 1350px) {
    h1{
        width: 950px;
    }
    .user-div{
        width: 950px;
    }
    .user-div p{
        width: 75%;
    }
    .icons{
        right: 5px;
        margin-top: -22px;
    }
    .check{
        padding-right: 5px;
    }
}

@media only screen and (max-width: 1100px) {
    h1{
        width: 700px;
    }
    .user-div{
        width: 700px;
        height: 140px;
    }
    .user-div p{
        width: 67%;
    }
    
}

@media only screen and (max-width: 800px) {
    h1{
        width: 400px;
        font-size: 1.7em;
    }
    .user-div{
        width: 400px;
        height: 380px;
    }
    .user-div p{
        max-height: 60%;
        width: 80%;
        margin: 0 auto;
    }
    .icons{
        top: 85%;
        right: 0;
        left: 0;
    }
    .icons{
        float: none;
        font-size: 2.5em;
        position: none;
        text-align: center;
        margin-top: 0px;
    }
    .pic-name{
        float: none;
    }
    .user-profile{
        margin: 0 auto;
    }
        
}