@import url(global.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
}

section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

#header{
    margin: 18px 0 30px 45px;
}

/* Logo */
#mo{
    color: var(--yellow);
}
#ma{
    color: var(--green);
}
#logo{
    font-size: 2em;
    font-weight: bold;
    float: left;
}

/* Home Icon */
#home-icon{
    float: right;
    margin-right: 45px;
    color: var(--darker-yellow);
    font-size: 2em;
}

/* Reviews */
h1{
    margin: 0 auto;
    width: 59%;
    text-decoration: underline;
    margin-bottom: 40px;
    font-size: 1.9em;
    font-weight: 400;
    color: #2a2222;
}

/* <--User Review Card--> */
.user-div{
    margin: 0 auto;
    width: 60%;
    height: 125px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* box-shadow: rgba(245, 190, 38, 0.35) 0px 5px 15px; */
    border-radius: 20px;
    margin-bottom: 75px;
    position: relative;
}

/* User profile picture */
.user-profile{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px solid var(--yellow);
}
.pic-name{
    display: flex;
    flex-direction: column;
    float: left;
    padding: 15px 10px 15px 20px;
}

/* Username */
.username{
    font-size: 1.1em;
    color:#443b3b;
    text-align: center;
    padding-top: 7px;
}

/* Text review */
.user-div p{
    font-size: 1.2em;
    padding: 20px 15px 0 10px;
    max-height: 75%;
    width: 78%;
    color:#2a2222;
    overflow-y:auto;
    text-align: justify;
    line-height: 1.2em;
}

/* Icons */
.icons{
    float: right;
    padding-right: 20px;
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -22px;
}
.check{
    color: var(--green);
    padding-right: 20px;
}
.cross{
    color: #e93333;
}

/* Footer */
footer{
    color: gray;
    font-size: 0.8em;
    position: absolute;
    bottom: 5px;
    text-align: center;
    left: 40%;
}