@import url(global.css);

#intro{
    width: 100%;
    height: 590px;
    background-image: url("../assets/images/restaurants-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
}

#restaurants-display{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.category{
    margin-top: 40px;
}

.category-title{
    font-size: 32px;
    font-weight: 500;
    padding-left: 40px;
}
