@import url(global.css);

#intro{
    width: 100%;
    height: 590px;
    background-image: url("../assets/images/restaurants-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
}

