@import url(global.css);

#res-pic{
    height: 350px;
    width: 65%;
    margin: 0 auto;
}

#image{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#res-details{
    width: 64%;
    margin: 30px auto;
    display: flex;
    font-size: 1.1em;
}

#left{
    width: 50%;
}

#right{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#duration-div{
    margin-top: 20px;
    
}
#left i{
    margin-right: 5px;
    color: var(--green);
}
