@import url(sign-up.css);

/* Text under momato */
#header2 p{
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}

/* Sign In word*/
h2{
   color: #f5be26;
    font-size: 2.7em;
    margin-bottom: 28px; 
}

#error{
    color: #ee0b0b;
}

/* Sign in button */
#btn-sign-in{
    height: 50px;
    width: 150px;
    font-size: 1em;
    margin-bottom: 35px;
    background-color: #e7bc46;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-weight: 100;
}

/* Sign up button */
#btn-sign-up2{
    margin-left: 10px;
    color: #f5be26;
    font-size: 1.1em;
    font-weight: bold;
}

#btn-sign-up2:link, #btn-sign-up2::after{
    text-decoration: none;
}

#btn-sign-up2::after{
    margin-left: 10px;
    color: #f5be26;
    font-size: 1.1em;
    font-weight: bold;
}

/* Text box */
.txtbox{
    margin: 10px 0 50px;
    height: 60px;
    width: 570px;
}

/* Media Query */
@media only screen and (max-width: 1050px) {
    h1{ 
        font-size: 7.8em;
    }
    
    #header2 p{
        font-size: 3.1em;
    }
    h2{
        font-size: 2.5em;
    }
    .txtbox{
        width: 525px;
    }
}
@media only screen and (max-width: 780px) {
    h1{ 
        font-size: 7.6em;
    }
    #header2 p{
        font-size: 2.8em;
    }
    h2{
        font-size: 2.3em;
    }
}

@media only screen and (max-width: 655px) {
    #topleft{
        width: 40px;
        height: 150px;
        border-radius: 0 150px 150px 0;
        -moz-border-radius: 0 150px 150px 0;
        -webkit-border-radius: 0 150px 150px 0;
    }
    #circle-right{
        width: 40px;
        height: 150px;
        background: #efc142;
        border-radius: 150px 0 0 150px;
        -moz-border-radius: 150px 0 0 150px;
        -webkit-border-radius: 150px 0 0 150px;
        border: none;
    }
    h1{ 
        font-size: 6.5em;
    }
    #header2 p{
        font-size: 2.4em;
    }
    h2{
        font-size: 2.2em;
    }
    .txtbox{
        width: 450px;
    }
}

@media only screen and (max-width: 499px) {
    #topleft{
        width: 30px;
        height: 150px;
        border-radius: 0 150px 150px 0;
        -moz-border-radius: 0 150px 150px 0;
        -webkit-border-radius: 0 150px 150px 0;
    }
    #circle-right{
        width: 30px;
        height: 150px;
        background: #efc142;
        border-radius: 150px 0 0 150px;
        -moz-border-radius: 150px 0 0 150px;
        -webkit-border-radius: 150px 0 0 150px;
        border: none;
    }
    #header2 p{
        font-size: 1.9em;
    }
    h2{
        font-size: 1.8em;
    }
    h1{ 
        font-size: 4.8em;
    }
    .txtbox{
        width: 350px;
    }
}
