@import url(global.css);

 h1{ 
    font-size: 9em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 3vh;
}

#main-div{
    margin: 0 auto;
    margin-top: 70px;
}

#sign-up-div{
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 50px;
}

h2{
    font-size: 2.7em;
    margin-bottom: 30px;
    color: var(--yellow);
}

.txtbox{
    margin: 10px 0 30px;
    height: 60px;
    width: 600px;
    font-size: 1.2em;
    border-radius: 8px;
    border: 2px solid var(--darker-yellow);
    padding: 10px;
}

.radio{
    margin: 10px 30px 30px 5px;
}

#btn-sign-up{
    height: 43px;
    width: 150px;
    font-size: 1em;
    margin-bottom: 20px;
    background-color: var(--darker-yellow);
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}
#btn-sign-in{
    margin-left: 10px;
    color: var(--yellow);
    font-size: 1.1em;
    font-weight: bold;
}

#btn-sign-in:link{
    text-decoration: none;
}
form{
    margin-bottom: 50px;
}

#bottom{
    text-align: center;
}