@import url(global.css);

/* Left corner style */
#topleft{
    width: 300px;
    height: 300px;
    background: #efc142;
    border-radius: 0 0 300px 0;
    -moz-border-radius: 0 0 300px 0;
    -webkit-border-radius: 0 0 300px 0;
    position: absolute;
    top: 0;
    left:0;
}

/* Right corner style */
#circle-right{
    width: 350px;
    height: 350px;
    border-radius: 0 0 0 350px ;
     -moz-border-radius: 0 0 0 350px;
     -webkit-border-radius: 0 0 0 350px; 
    position: absolute;
    top: 0;
    right: 0;
    border: 80px solid #efc142;
    border-top: none;
    border-right: none;
}

#plate{
    position: absolute;
    right: 3%;
    top: 4%;
    width: 300px;
    height: 300px;
}

#driedherbs{
    width: 150px;
    min-height: 150px;
    position: absolute;
    right: 10%;
    top: 15.5%;
    overflow: hidden;
}

#greenleaf{
    width: 100px;
    min-height: 50px;
    position: absolute;
    right: 10%;
    top: 2%
}

/* Title */
h1{ 
    font-size: 9em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 3vh;
}

/* Sign Up */
#main-div{
    margin: 0 auto;
    margin-top: 70px;
}

#sign-up-div{
    width: 100%;
    margin: 0 auto;
    font-size: 1.1em;
    margin-bottom: 80px;
}

h2{
    font-size: 2.5em;
    margin-bottom: 30px;
    color: black;
}

.txtbox{
    margin: 10px 0 30px;
    height: 55px;
    width: 550px;
    font-size: 1em;
    border-radius: 8px;
    border: 2px solid var(--darker-yellow);
    padding: 10px;
}

.radio{
    margin: 20px 40px 40px 7px;
}

#btn-sign-up{
    height: 43px;
    width: 195px;
    font-size: 1em;
    margin-bottom: 20px;
    background-color: var(--darker-yellow);
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}
#btn-sign-in{
    margin-left: 10px;
    color: var(--yellow);
    font-size: 1.1em;
    font-weight: bold;
}

#btn-sign-in:link{
    text-decoration: none;
}

#bottom{
    text-align: center;
}