@import url(global.css);

/* Left corner style */
#topleft{
    width: 250px;
    height: 250px;
    background: #efc142;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
    position: absolute;
    top: 0;
    left:0;
}

/* Right corner style */
#circle-right{
    width: 300px;
    height: 300px;
    border-radius: 0 0 0 300px ;
     -moz-border-radius: 0 0 0 300px;
     -webkit-border-radius: 0 0 0 300px; 
    position: absolute;
    top: 0;
    right: 0;
    border: 80px solid #efc142;
    border-top: none;
    border-right: none;
}

#plate{
    position: absolute;
    right: 50px;
    top: 3%;
    width: 250px;
    height: 250px;
}

#driedherbs{
    width: 120px;
    min-height: 120px;
    position: absolute;
    right: 180px;
    top: 11%;
    overflow: hidden;
}

/* Title */
h1{ 
    font-size: 9em;
    text-align: center;
    margin-top: 3vh;
}

/* Sign Up */
#main-div{
    margin: 0 auto;
    margin-top: 60px;
}

#sign-up-div{
    width: 100%;
    margin: 0 auto;
    font-size: 1.1em;
    margin-bottom: 80px;
}

h2{
    font-size: 2.5em;
    margin-bottom: 30px;
    color: black;
}

#error{
    color: #ee0b0b;
}

.txtbox{
    margin: 10px 0 25px;
    height: 55px;
    width: 550px;
    font-size: 1em;
    border-radius: 8px;
    border: 2px solid var(--darker-yellow);
    padding: 10px;
}

.radio{
    margin: 20px 40px 30px 7px;
}

#btn-sign-up{
    height: 43px;
    width: 195px;
    font-size: 1em;
    margin-bottom: 20px;
    background-color: var(--darker-yellow);
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}
#btn-sign-in{
    margin-left: 10px;
    color: var(--yellow);
    font-size: 1.1em;
    font-weight: bold;
}

#btn-sign-in:link{
    text-decoration: none;
}

#bottom{
    text-align: center;
}

/* Media Query */
@media only screen and (max-width: 1300px) {
    #topleft{
        width: 220px;
        height: 220px;
        border-radius: 0 0 220px 0;
        -moz-border-radius: 0 0 220px 0;
        -webkit-border-radius: 0 0 220px 0;
    }
    #circle-right{
        width: 250px;
        height: 250px;
        border-radius: 0 0 0 250px ;
         -moz-border-radius: 0 0 0 250px;
         -webkit-border-radius: 0 0 0 250px;
        border: 60px solid #efc142;
        border-top: none;
        border-right: none;
    }
    #plate{
        width: 200px;
        height: 200px;
        top: 2.7%;
        right: 50px;
    }
    #driedherbs{
        right: 140px;
        width: 110px;
        top: 8.5%;
    }
    h1{ 
        font-size: 8em;
    }
    .txtbox{
        height: 50px;
        width: 475px;
    }
    #btn-sign-up{
        height: 43px;
        width: 150px;
    }
}
@media only screen and (max-width: 1050px) {
    #topleft{
        width: 150px;
        height: 150px;
        border-radius: 0 0 150px 0;
        -moz-border-radius: 0 0 150px 0;
        -webkit-border-radius: 0 0 150px 0;
    }
    #circle-right{
        width: 150px;
        height: 150px;
        border-radius: 0 0 0 150px ;
         -moz-border-radius: 0 0 0 150px;
         -webkit-border-radius: 0 0 0 150px;
        border: 60px solid #efc142;
        border-top: none;
        border-right: none;
    }
    #plate{
        width: 150px;
        height: 150px;
        top: 1%;
        right: 10px;
    }
    #driedherbs{
        width: 110px;
        top: 3.4%;
        right: 55px;
    }
    h1{ 
        font-size: 7.8em;
    }
}
@media only screen and (max-width: 780px) {
    #driedherbs,#plate{
        display: none;
    }
    #topleft{
        width: 40px;
        height: 150px;
        border-radius: 0 150px 150px 0;
        -moz-border-radius: 0 150px 150px 0;
        -webkit-border-radius: 0 150px 150px 0;
    }
    #circle-right{
        width: 40px;
        height: 150px;
        background: #efc142;
        border-radius: 150px 0 0 150px;
        -moz-border-radius: 150px 0 0 150px;
        -webkit-border-radius: 150px 0 0 150px;
        border: none;
    }
    h1{ 
        font-size: 7.5em;
    }
    .txtbox{
        width: 450px;
    }
}

@media only screen and (max-width: 655px) {
    h1{ 
        font-size: 6em;
    }
    .txtbox{
        width: 400px;
    }
}

@media only screen and (max-width: 475px) {
    #topleft{
        width: 30px;
        height: 150px;
        border-radius: 0 150px 150px 0;
        -moz-border-radius: 0 150px 150px 0;
        -webkit-border-radius: 0 150px 150px 0;
    }
    #circle-right{
        width: 30px;
        height: 150px;
        background: #efc142;
        border-radius: 150px 0 0 150px;
        -moz-border-radius: 150px 0 0 150px;
        -webkit-border-radius: 150px 0 0 150px;
        border: none;
    }
    h1{ 
        font-size: 4.8em;
    }
    .txtbox{
        width: 350px;
    }
}
