@import url(sign-up.css);

/* Text under momato */
#header2 p{
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}

/* Sign In word*/
h2{
   color: #f5be26;
    font-size: 2.7em;
    margin-bottom: 50px; 
}

/* Sign in button */
#btn-sign-in{
    height: 50px;
    width: 150px;
    font-size: 1em;
    margin-bottom: 35px;
    background-color: #e7bc46;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-weight: 100;
}

/* Sign up button */
#btn-sign-up2{
    margin-left: 10px;
    color: #f5be26;
    font-size: 1.1em;
    font-weight: bold;
}

#btn-sign-up2:link, #btn-sign-up2::after{
    text-decoration: none;
}

#btn-sign-up2::after{
    margin-left: 10px;
    color: #f5be26;
    font-size: 1.1em;
    font-weight: bold;
}

/* Text box */
.txtbox{
    margin: 10px 0 50px;
    height: 60px;
    width: 570px;
}