@import url(global.css);

#profile-pic{
    text-align: center;
}

#profile-pic img{
    border-radius: 50%;
    border: 5px solid var(--yellow);
    width: 250px;
    margin-bottom: 40px;
}

#form{
    width: 550px;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* .txtbox{
    margin: 10px 0 30px;
    height: 55px;
    width: 550px;
    font-size: 1em;
    border-radius: 8px;
    border: 2px solid var(--darker-yellow);
    padding: 10px;
} */

.txtbox{
    margin: 15px 0 40px 0;
    height: 50px;
    width: 550px;
    font-size: 1.05em;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 8px;
    border-radius: 8px;
    border: none;
    padding: 10px;
}

i{
    color: var(--yellow);
    font-size: 25px;
    float: right;
    position: relative;
    top: 52px;
    right: 15px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    width: 100px;
    height: 100px;
    background: url("../assets/images/white.png"); 
}

.radio{
    margin: 20px 40px 40px 7px;
}

#btn-edit{
    height: 43px;
    width: 150px;
    font-size: 1em;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 8px;
    border-radius: 8px;
    border: 2px solid var(--darker-yellow);
    color: var(--darker-yellow);
    cursor: pointer;
}